@import 'modules/animations';

$primary-font: 'Roboto', Arial, sans-serif;
$primary-bg: #212121;
$text-color: #fff;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-bg;
    color: $text-color;
    position: relative;
}

div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    > div.flex-item {
        padding: 1em;
        flex: 0 0 25vw;
        > .title {
            font-family: 'Newsreader', serif;
            > div {
                overflow: hidden;
                position: relative;
                height: 65px;
                padding-top: 10px;
                margin-top: -10px;
                > ul.flip-4 {
                    animation: flip-4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
                    padding-left: 0px;
                    > li {
                        font-family: Serif;
                        color: #eee;
                        font-weight: 700;
                        height: 45px;
                        margin-bottom: 45px;
                        display: block;
                    }
                }
            }
        }
        > div {
            font-family: $primary-font;
            margin-top: -25px;
        }
        &:last-of-type {
            > img {
                width: 300px;
                height: auto;
                border-radius: 50%;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 10px;
    font-family: $primary-font;
}