$primary-font: 'Roboto', Arial, sans-serif;
$primary-bg: #212121;
$text-color: #fff;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-bg;
    color: $text-color;
    position: relative;
}

div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    > div.flex-item {
        padding: 1em;
        > .title {
            font-family: 'Newsreader', serif;
        }
        > div {
            font-family: $primary-font;
        }
        &:last-of-type {
            > img {
                width: 300px;
                height: auto;
                border-radius: 50%;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 10px;
    font-family: $primary-font;
}